<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add page</title>
</head>
<body>
    <h1><a href="/topic">This is Lists</a></h1>
    <ol>
        <% for(var i=0; i<topics.length; i++) { %>
            <li><a href="/topic/<%= topics[i].id %>"><%= topics[i].title %></a></li>
            <% } %>
    </ol>
    <article>
        <form method="POST" action="/topic/add">
            <p><input type="text" name="title" value="<%= topics.title %>" placeholder="title"/></p>
            <p><textarea name='description' rows="6" cols="50" placeholder="description" value='<%= topics.description %>'></textarea></p>
            <p><input type="text" name="author" value="<%= topics.author %>" placeholder="author"/></p>
            <p><input type="submit" /></p>
        </form>
        <ul>
            <li><a href="/topic/add">add</a></li>
        </ul>
    </article>
</body>
</html>